body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  gap: 20px;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
  margin-bottom: 200px;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
}

th,
td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
}
th {
  background-color: rgb(239, 232, 232);
}

#maintitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  background-color: grey;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a:hover {
  background-color: darkgray;
}
.navbar li {
  float: left;
}
.subheading {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 18px;
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
ol {
  list-style-type: style type;
  font-size: 18px;
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 px;
}
.example {
  background-color: rgb(209, 206, 206);
  margin-left: 0px;
  margin-right: 0px;
  padding: 2%;
}
